.Login .login_section {
  margin-bottom: 30px;
}

.Login h4 {
  font-size: 22px;
  font-weight: bold;
}

.Login input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color: #ececec;
  padding: 15px 20px;
  font-size: 20px;
}

.Login .bottom_section {
  display: flex;
  justify-content: flex-end;
}
